.container {
    height: 100%;
    width: 100%;

    .admin-header {
        background-color: #6f5499;
        align-items: center;
        height: 120;
        padding-top: 30px;
        padding-bottom: 30px;

        h1{
            font-size: 30px;
            color: white;
            margin: 0 10% 0 10%;
        }
        
        .lead {
                font-size: 20px;
                font-weight: 300;
                color: white;
                margin: 0 10% 0 10%;
        }
    }

    .sp3-container {
        margin: 0 10% 0 10%;

        .lead {
            font-size: 25px;
            font-weight: normal;
            color: black;
            margin-top: 30px;
        }

        .sp3-con-form {

            float: left;
            width: 70%;
            margin-right: 1%;
            height: 100%;

            .sp3-form-input {
                width: 90%;
                margin-right: 1%;
            }
    
            Button {
                background-color: #337ab7;
                border-color: #2e6da4;
            }
    
            .sp3-container-griffiths {
                width: 100%;
                height: 400px;
                margin-bottom: 1%;
            }
        }
        

        .sp3-container-rank {
            float: right;
            width: 27%;
            height: 100%;
            margin: 1% 0 1% 1%;
            align-items: center;
        }

        .ant-tag {
            margin-bottom: 8px;
          }

        
    }
    footer {
        margin: 0 10% 0 10%;

        h5 {
            font-size: 5px;
        }
    }

}
