.c-container {
    font-size:8px;
    line-height: 20px;
    margin-bottom: 10px;

    h3{
        font-size:18px;
        margin-bottom: 2px;
    }

    .t{
        font-weight:400;
        color: #2440b3;
    }

}

